<!-- <div class="container-fluid px-5 my-5">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card border-0 rounded-3 shadow-lg overflow-hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-sm-6 d-none d-sm-block bg-image"></div>
              <div class="col-sm-6 p-4">
                <div class="text-center">
                  <div class="h3 fw-light">Contact Form</div>
                  <p class="mb-4 text-muted">Split layout contact form</p>
                </div>
  
                <form id="contactForm" [formGroup]="contactForm" (submit)="onSubmit()"> -->
  
                  <!-- Name Input -->
                  <!-- <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" placeholder="Name" formControlName="name" />
                    <label for="name">Name</label>
                  </div> -->
  
                  <!-- subject Input -->
                  <!-- <div class="form-floating mb-3">
                    <input class="form-control" id="subject" type="text" placeholder="Subject..."  formControlName="subject" />
                    <label for="subject">Subject</label>
                  </div> -->
                    <!-- Email Input -->
                    <!-- <div class="form-floating mb-3">
                        <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" formControlName="email" />
                        <label for="emailAddress">Email Address</label>
                    </div> -->
  
                  <!-- Message Input -->
                  <!-- <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" type="text" placeholder="Message" formControlName="message" style="height: 10rem;" formControlName="message" ></textarea>
                    <label for="message">Message</label>
                  </div> -->
  
                  <!-- Submit button -->
                  <!-- <div class="d-grid">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit" (click)="openDialog()">Submit</button>
                  </div>
                </form> -->
                <!-- End of contact form -->
  
              <!-- </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
<div class="container">
  <div class="image">
    <img src="https://images.pexels.com/photos/3651577/pexels-photo-3651577.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
  </div>
  <form id="contactForm" [formGroup]="contactForm" (submit)="onSubmit()">

    <h3>Contact Form</h3>

    <div>
      <input id="name" type="text" placeholder="Name" formControlName="name" required>
    </div>
    <div>
      <input id="subject" type="text" placeholder="Subject..."  formControlName="subject" required>
    </div>
    <div>
      <input id="emailAddress" type="email" placeholder="Email Address" formControlName="email" required>
    </div>
    <div>
      <textarea id="message" type="text" placeholder="Message" formControlName="message" required></textarea>
    </div>
    <div>
      <button id="submitButton" type="submit" (click)="openDialog()" [disabled]="contactForm.invalid">Submit</button>
    </div>
  </form>
</div>