.container {
    background: #1B1B1B;
}

.video-container {
    position: relative;
}

video{
    background-color: #F6F6F6;
    /* border-radius: 4px; */
    height: 45.5vw;
    object-fit:cover;
    object-position: center; 
    padding: 4.79vw 0 0;
    width: 100%;  
}

.back-icon {
    position: absolute;
    margin: 1vw 1vw;
}

.back-icon > a {
    text-decoration: none;
}

.back-text{
    border: none;
    border-radius: .2vw;
    padding: .5vw 1vw;
    margin-bottom: 1vw;
    background: black;
    color: whitesmoke;
    font-size: 1.5vw;
    transition: .5s;
}

.playIcon {
    position: absolute;
    z-index: 99;
    left: 47%;
    top: 46.5%;
    transform: translate(50% 50%);
}

.play-pause > .fa-circle-play {
    color: red;
    font-size: 6.2vw;
}

.video-info {
    background: #1B1B1B;
    max-height: 38vw;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

.image-card > img {
    width: 24vw;
    height: 34vw;
    border-radius: 5px;
}

.words {
    height: max-content;
    width: 65vw;
    margin-right: 5vw;
    padding: 0.78vw;
    color: white;
}

.words > h2 {
    font-size: 3vw;
    text-transform: uppercase;
}

.words > p {
    font-size: 1.5vw;
    line-height: 30px;
}


/* ----------------------------------- */

.video-review{
    /* border: 1px solid red; */
    background: whitesmoke;
    width: 100%;
    font-size: 1.2vw;
    padding: 1% 2%;
}

.reviews{
    width: 100%;
}

.reviews > h1 {
    font-weight: 500;
    font-size: 2.3vw;
    text-decoration: underline;
    padding: .7vw;
}
.reviews>ul{
    list-style:none;
    border: 1px solid black;
    border-radius: .2vw;
    padding: 1%;
    margin-bottom: .5%;
    font-size: 1.2vw
}
.reviews>ul>li{
    padding: 1%;
    font-size: 1.2vw;
}

.reviews p {
    line-height: 25px;
}

li>span{
    color: red;
}
li>span:hover{
    cursor: pointer;
    text-decoration: underline;
}