/* .title {
    font-size: 2vw;
    color: red;
    font-family: 'Courgette', cursive;
}

h2 {
    transform: rotate(-10deg);
}

.title > span {
    font-size: 3vw;
    color: yellow;
    font-family: 'Crete Round', serif;
}

.nav-link {
    font-size: 1.4vw;
    color: #5AB7D4 !important;
}

.active {
    color: white !important;
    text-decoration: underline;
}

.collapse {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.collapse > ul > li {
    padding: 0.6vw;
} */

header{
    /* border: 1px solid red; */
    background: #1B1B1B;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    transform: rotate(-10deg);
}
.logo>a{
    text-decoration: none;
    font-size: 2vw;
    color: #CE1E1E;
    font-family: 'Courgette', cursive;
}
.logo>a>span{
    font-size: 3vw;
    /* color: yellow; */
    color: whitesmoke;
    font-family: 'Crete Round', serif;
}

.search{
    border: 1px solid #CE1E1E;
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 3vw;
    overflow: hidden;
}
.search>input{
    border: none;
    background: none;
    outline: none;
    width: 80%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.2vw;
    padding: 5%;
}
.s-icon{
    border: 1px  solid #CE1E1E;
    border-radius: 2vw;
    background: #CE1E1E;
    width: 20%;
    height: 100%;
    cursor: pointer;
}
.fa-magnifying-glass{
    font-size: 2vw;
    margin-left: 50%;
    margin-top: 7%;
    transform: translateX(-50%);
    background: transparent;
}

header>button{
    /* border: 1px solid red; */
    border: none;
    font-size: 1.2vw;
    border-radius: 2vw;
    background: #CE1E1E;
    color: whitesmoke;
    padding: .7vw;
}
