.container{
    border: 1px solid red;
    padding: 1vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* video{
    /* border: 1px solid red;
    border-radius: 4px;
    
    height: 100%;
    object-fit: cover; 
    width: 100%;
      
    
} */

/* .info>b{
    font-size: 1.3vw;
}
.info>p{
    font-size: 1.2vw;
    color: #313131;
} */