<div class="container">
  <button routerLink="/admin">back</button>

  <form action="" (submit)="updateTrailer(video._id)" [formGroup]="updateForm">
    <h3>Edit trailer details</h3>

    <div>
      <label for="videoName">Video name</label>
      <input id="videoName"  type="text" formControlName="videoName" required>
    </div>
    <div>
      <label for="videoLink">Video link</label>
      <input id="videoLink" type="text" formControlName="videoLink" required>
    </div>
    <div>
      <label for="videoImage">Video Image</label>
      <input id="videoImage" type="text" formControlName="videoImage" required>
    </div>
    <div>
      <label for="releaseDate">Release date</label>
      <input id="releaseDate" type="text" formControlName="releaseDate" required>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" required></textarea>
    </div>
    <div>
      <label for="status">Status</label>
      <input id="status" type="text" formControlName="status" required>
    </div>
    <div>
      <button type="submit">Update</button>
    </div>
  </form>
</div>
