<div class="container">
    <button routerLink="/admin">back</button>

    <table>
        <thead>
            <tr>
                <th>Video name</th>
                <th>Video link</th>
                <th>Release date</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>string</td>
                <td>string</td>
                <td>string</td>
                <td>string</td>
                <td>string</td>
                <td>string</td>
                <td>
                    <a href="#">
                        <i class="fa-solid fa-clapperboard"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-video-slash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>