<div class="container">
    <button routerLink="/admin">back</button>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Email</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>string</td>
                <td>string</td>
                <td>string</td>
                <td>string</td>
                <td>
                    <a href="#">
                        <i class="fa-solid fa-user-minus"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>