
<div class="fluid-container p-4">
  <div class="row mx-3 justify-content-end">
    <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
      <form [formGroup]="uploadForm" (submit)="sendVideo()" enctype="multipart/form-data" class="w-100 rounded-1 m-5 border bg-white" style="padding: 2vw;">
        <h2>Upload your Video Below</h2>
        <div class="col">
          <div class="form-outline input-group-lg">
            <input
              type="text"
              id="name"
              formControlName="authorName"
              name="authorName"
              class="form-control"
            />
            <label class="form-label" for="form6Example1"
              >Your Name/ Alias</label
            >
          </div>
        </div>
        <div class="input-group mb-3 input-group-lg">
          <input
            type="file"
            required
            id="videoLink"
            formControlName="videoLink"
            name="videoLink"
            class="form-control"
          />
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="form-outline mb-4 input-group-lg">
          <textarea
            class="form-control"
            id="descrip"
            formControlName="description"
            name="description"
            rows="4"
          ></textarea>
          <label class="form-label" for="form6Example7"
            >Video Description</label
          >
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary px-3 rounded-3">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
