<!-- ================================================================================== -->

<div class="container">
  <form [formGroup]="uploadForm" (submit)="sendVideo()">
    <h2>Upload your video</h2>

    <div>
      <label for="videoName"> Trailer Name </label><br />
      <input
        type="text"
        id="videoName"
        formControlName="videoName"
        name="videoName"
      />
    </div>
    <div>
      <label for="releaseDate"> Released Date </label><br />
      <input
        type="text"
        id="releaseDate"
        formControlName="releaseDate"
        name="releaseDate"
      />
    </div>

    <div>
      <label for="videoLink">Trailer Link</label>
      <input
        type="text"
        required
        id="videoLink"
        formControlName="videoLink"
        name="videoLink"
      />
    </div>

    <div>
      <label for="videoImage">Trailer Image</label>
      <input
        type="text"
        required
        id="videoImage"
        formControlName="videoImage"
        name="videoImage"
      />
    </div>

    <div>
      <label for="description">Trailer description</label><br />
      <textarea
        id="descrip"
        formControlName="description"
        name="description"
        rows="4"
      ></textarea>
    </div>

    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
