<!-- 
<div class="fluid-container p-4">
  <div class="row mx-3 justify-content-end">
    <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
      <form [formGroup]="uploadForm" enctype="multipart/form-data" (submit)="sendVideo()" class="w-100 rounded-1 m-5 border bg-white" style="padding: 2vw;">
        <h2>Upload your Video Below</h2>
        <div class="col">
          <div class="form-outline input-group-lg">
            <input
              type="text"
              id="name"
              formControlName="authorName"
              name="authorName"
              class="form-control"
              [(ngModel)]="formInfo.authorName"
            />
            <label class="form-label" for="form6Example1"
              >Your Name/ Alias</label
            >
          </div>
        </div>
        <div class="input-group mb-3 input-group-lg">
          <input
            type="file"
            required
            id="videoLink"
            formControlName="videoLink"
            name="videoLink"
            class="form-control"
            (change)="selectFile($event)"
          />
          <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <div class="form-outline mb-4 input-group-lg">
          <textarea
            class="form-control"
            id="descrip"
            formControlName="description"
            name="description"
            rows="4"
            [(ngModel)]="formInfo.description"
          ></textarea>
          <label class="form-label" for="form6Example7"
            >Video Description</label
          >
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary px-3 rounded-3">
            Upload
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- ================================================================================== -->

<div class="container">
  <form [formGroup]="uploadForm" (submit)="sendVideo()">
    <h2>Upload your video</h2>

    <div>
      <label for="videoName"> Trailer Name </label><br />
      <input
        type="text"
        id="videoName"
        formControlName="videoName"
        name="videoName"
      />
    </div>
    <div>
      <label for="releaseDate"> Trailer Image </label><br />
      <input
        type="text"
        id="releaseDate"
        formControlName="releaseDate"
        name="releaseDate"
      />
    </div>

    <div>
      <label for="videoLink">Trailer Link</label>
      <input
        type="text"
        required
        id="videoLink"
        formControlName="videoLink"
        name="videoLink"
      />
    </div>

    <div>
      <label for="videoImage">Video Image</label>
      <input
        type="text"
        required
        id="videoImage"
        formControlName="videoImage"
        name="videoImage"
      />
    </div>

    <div>
      <label for="description">Video description</label><br />
      <textarea
        id="descrip"
        formControlName="description"
        name="description"
        rows="4"
      ></textarea>
    </div>

    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
