.container{
    /* border: 1px solid red; */
    padding: 1vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

video{
    border: 1px solid red;
    border-radius: 4px;
    
    height: 100%;
    object-fit: cover; 
    width: 100%;  
}

.info > small {
    font-size: small;
}
  
.info > small > span {
  font-weight: bolder;
}