<div class="container">
    <div class="card" *ngFor="let video of videos | paginate: { itemsPerPage: 10, currentPage: p }">
        <a [routerLink]="['watch_trailers', video._id]">
            <img src="{{video.videoImage}}" alt="" >
        </a>
        <div class="info">
            <b>{{video.videoName}}</b><br>
            <small><span>Release Date:</span> {{video.releaseDate}}</small>
            <p>{{video.description}}</p>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
