<div class="container">
    <div class="card" *ngFor="let video of videos">
        <a [routerLink]="['watch_trailers', video._id]">
            <!-- <video loop controls (playing)="onPlayingVideo($event)" width="900"
            height="337"
            style="width: 300px; height: 15vw;">
                <source src="{{video.videoLink}}" type="video/mp4">
            </video> -->
            <img src="{{video.videoImage}}" alt="" >
        </a>
        <div class="info">
            <b>{{video.videoName}}</b><br>
            <small><span>Release Date:</span> {{video.releaseDate}}</small>
            <p>{{video.description}}</p>
        </div>
    </div>
</div>
