.container {
  /* border: 1px solid red; */
  padding: 2vw;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  /* border: 1px solid red; */
  width: 18%;
  height: 38vw;
  margin-bottom: 4vw;
}
.card > a > img {
  width: 100%;
}

.info > p {
  font-size: 1.2vw;
  color: #313131;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 8vw; */
  margin-top: 1vw;
}

video {
  border: 1px solid red;
  border-radius: 4px;

  height: 100%;
  object-fit: cover;
  width: 100%;
}

.info > small {
  font-size: small;
}

.info > small > span {
  font-weight: bolder;
}

.ngx-pagination,
pagination-controls {
  padding-left: 0px !important;
  margin-left: 50%;
  transform: translatex(-50%);
  width: max-content;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important;
  border: transparent !important;
}
