
  
  <div class="container">
    <!-- <div class="image">
      <img src="https://source.unsplash.com/kKvQJ6rK6S4/660x1000">
    </div> -->
    <!-- deleted (submit)="onSubmit()" from form  -->
    <form id="contactForm" [formGroup]="contactForm">
  
      <h3>Message</h3>
  
      <div>
        <input id="name" type="text" value="{{message.name}}" placeholder="Name" readonly>
      </div>
      <div>
        <input id="subject" type="text" value="{{message.subject}}" placeholder="Subject..." readonly>
      </div>
      <div>
        <input id="emailAddress" type="email" value="{{message.email}}" placeholder="Email Address" readonly>
      </div>
      <div>
        <textarea id="message" type="text" value="{{message.message}}" placeholder="Message" readonly></textarea>
      </div>
      <div>
        <a href="mailto:{{message.email}}">Reply</a>
      </div>
      <div>
        <button type="button" (click)="deleteMessage(message._id)">Delete</button>
      </div>
    </form>
  </div>
