<app-header></app-header>
<div class="container p-1">
    <div class="border" style="max-width: 50vw; margin: auto; padding: 2vw;" *ngFor="let video of videos">
        <!-- Heading -->
        <h4 class="card-title">{{video.authorName}}</h4>
        <h6 class="card-subtitle text-muted">Sun disappears!</h6>

        <div class="card-body">
            <video id="myVideo" [loop]="true" controls width="500" height="500">
                <source src="{{video.videoLink}}" type="video/mp4">
            </video>
        </div>
        
        <!-- Text Content -->
        <div class="card-body">
            <p class="card-text">The sun disappeared behind the horizon today. Experts claim it could be gone for good!</p>
        </div>
    </div>
</div>
