<div class="container">
  <div class="sec-bar">
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/admin']" class="active">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-box"></i>
          <span class="links_name">Movies</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Reviews</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-message"></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/upload']">
          <i class="bx bx-cog"></i>
          <span class="links_name">Upload New Video</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="overview-boxes">
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Total Staff</div>
        <div class="number">{{ adminLength }}</div>
      </div>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Total Trailers</div>
        <div class="number">{{ videoLength }}</div>
      </div>
      <i class="fa-solid fa-video"></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Total Messages</div>
        <div class="number">{{ contactLength }}</div>
      </div>
      <!-- <i class="fa-solid fa-sack-dollar"></i> -->
    </div>
  </div>

  <div class="tables">
    <table class="trailers">
      <thead>
        <tr>
          <th>Video name</th>
          <th>Release date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let video of videos | paginate: { itemsPerPage: 6, currentPage: p }
          "
        >
          <td>{{ video.videoName }}</td>
          <td>{{ video.releaseDate }}</td>
          <td>{{ video.status }}</td>
          <td>
            <a [routerLink]="['/view_trailer', video._id]">
              <i class="fa-solid fa-film"></i>
            </a>
            <a [routerLink]="['/trailers_tbl', video._id]">
              <i class="fa-solid fa-clapperboard"></i>
            </a>
            <a (click)="deleteVideo(video._id)">
              <i class="fa-solid fa-video-slash"></i>
            </a>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>

    <table class="contacts">
      <thead>
        <tr>
          <th>Name</th>
          <th>Subject</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of message">
          <td>
            <a [routerLink]="['/updateMessage', contact._id]">{{
              contact.name
            }}</a>
          </td>
          <td>{{ contact.subject }}</td>
          <td>{{ contact.email }}</td>
          <td>
            <a (click)="deleteMessage(contact._id)">
              <i class="fa-solid fa-user-minus"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
